
body{ margin:0;padding:0;color: #5e5e5e;}
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, label, dl, dt, dd, fieldset, img {
    border: 0 none;
    list-style:none;
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei UI","Microsoft YaHei","微软雅黑","MicrosoftJhengHei","华文细黑",STHeiti,MingLiu,serif;
}
*{margin:0;padding:0}
ul{list-style: none;}
.bg{background:#000 url("../images/sinablogb.jpg") no-repeat center top;min-height:600px;width:100%;margin-top: 30px;}
.box{width:950px;height:100%;margin:0 auto;}
a{text-decoration:none;color:#5e5e5e;}
p{line-height: 20pt}
#back{margin-top:-30px;}
/*导航条*/
.head-top{height:30px;width:100%;background-color: #f1f1f1;position: fixed;z-index:1000;top:0;}
.top-content{width:950px;margin:0 auto;font-size: 15px;}
.top-content .logo{float:left;width:100px;height:30px;background:url("../images/logo.gif") no-repeat;}
.top-content .perinfo{width:200px;float:right;}
.top-content .perinfo li{float:left;line-height: 30px;position:relative;text-align: center;padding:0 5px;}
.top-content .perinfo li ul{position:absolute;background-color:#ddd;left:0; top:30px;display:none;}
.top-content .perinfo li ul li{float:none;line-height:30px;margin:0;min-width:90px;}
.top-content .perinfo li ul li:hover{background-color:#f1f1f1; }
.top-content .perinfo li:hover{background-color:#ddd;}
.top-content .perinfo li:hover span{color: blue;}
.top-content .perinfo li:hover ul{display: block;}

.search{  
    background: none #fff;
    border: 1px solid #c3c3c3;
    float: left;
    height: 18px;
    overflow: hidden;
    position: relative;
    width: 180px;
    top:5px;
}
.search .input-text{
	border-width: 0;
    height: 18px;
    padding: 0 3px;
    width: 155px;
}
.search .input-sub{    
	background: url("../images/ntopbar.png") no-repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    height: 12px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 3px;
    right:5px;
    width:12px;
}
.back-top{
    position:fixed;
    width:44px;
    height:43px;
    display:block;
    z-index: 99;
    right:140px;
    bottom: 100px;
    background:url("../images/tips.png") no-repeat 0 -53px;
}
.back-top:hover {background:url("../images/tips.png") no-repeat -44px -53px}
.bottom-height{height:15px;}
/*页头*/
.head{height:270px;position: relative;}
.title-box *{color:#fff;}
.title-box{position: absolute;top:70px;left:0;width:450px;overflow:hidden ;}
.user-say{margin-top:20px;height:43px;overflow:hidden ;}
.user-say .say-title{font-weight: bold;}
.user-say .say-content{font-size:14px;line-height: 15pt;}
.user-line{background: url("../images/blognavbg.png") no-repeat;height: 1px;width: 100%;margin:10px 0;}
.user-do *{color:#000;}
.user-do{
    position: absolute;
    bottom:5px;
    right:0px;
    height: 30px;
}
.user-do-list{
    float:left;
    font-weight: bold;
    margin-left:  7px;
    line-height: 30px;
    text-align: center;
    padding:0 10px;
    background: url("../images/ntopbar.png") no-repeat 0 -84px;
    border-radius:4px;
}
.user-do-list a{color:#fff;}
#persign-change{color:#777;width:359px;height:18px;border:none;padding:0 5px;}
#persign-change-box{width:386px;height:18px;border:1px solid #ddd;position:relative;border-radius:3px;display:none;}
#persign-edit{
    background:#fff url("../images/tags.png") no-repeat scroll -740px -25px;
    border: 1px solid #ddd;
    cursor: pointer;
    height: 16px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0px;
    right:0px;
    width:16px;
    border-radius:3px;
}
/*主体*/
.main{min-height:800px;}
/*左模块*/

.left *{font-size: 12px;}
.left{width:210px;min-height:200px;float:left;margin:10px 0px;}
.left-list{width:100%;min-height: 100px;margin:0 0 10px 0;background-color: #fff;}
.left-per-title{height:15px;font-size: 12px;padding:5px;background-color:#f1f1f1; border-bottom: 1px solid #c3c3c3;}
.left-per-title .per-title{float:left;font-size: 13px;font-weight:bold;color:#3e3e3e;}
.left-per-title .edit{float:right;}
.left-per-pic{width:162px;height: 162px;margin:0 auto;border:1px solid #c3c3c3;margin-top: 15px;}
.left-per-name{width:120px;height:23px;text-align: center;margin:10px auto;}
.left-per-name span{font-size: 17px;font-weight:bold;}
.left-per-focus{width:120px;height:23px;padding:10px;margin:0 auto;}
.left-per-focus .btn-style{
    background:url("../images/ntopbar.png") no-repeat 0 -89px;
    border:1px solid #f0f0f0;
    width:45px;
    text-align: center;
    font-size: 17px;
    color:#fff;
    padding:3px;
    cursor: pointer;
    border-radius:4px;
}
.per-btn1{float:left;}
.per-btn2{float:right;}
.left-per-info{width:180px;margin:0 auto;border:1px solid #c3c3c3;}
.left-per-info ul{margin:0 10px;}
.info-style{padding:5px;}
.left-per-info span{letter-spacing:2pt;}

.left-class-list{width:180px;margin:0 auto;border:1px solid #c3c3c3;margin-top: 15px;}
.left-class-list ul{margin:0 10px;}
.left-per-search{width:180px;margin:0 auto;margin-top: 15px;}
/*右模块*/

/*文章详情页*/
.right{width:730px;min-height:300px;background-color: #fff;float:left;margin:10px 0px 10px 10px;}
.right-content{width:96%;height:100%;margin:0 auto;}
.right-title-box{height:55px;}
.right-title{float:left;margin:5px;}
.right-title-box span{float:left;font-size:13px;margin: 10px;display: block;width:100px;}
.right-article{border-bottom: 1px dashed #ddd;}
.right-article-bar{width:96%;height:25px; background-color:#eee;margin:50px auto 10px auto;line-height:25px;border-bottom: 1px solid #c3c3c3;}
.article-discuss-left{font-weight:bold;margin-left:30px;float:left;}
.article-discuss-right{margin-right:30px;float:right;cursor:pointer;}

.discuss-content{padding:10px;width:95%;margin:0 auto;}
.discuss-content ul li{border-bottom:1px dashed #ccc;padding:10px 0;}
.discuss-content ul li *{margin: 10px 0;}
.discuss-ctime{height:20px;}
.discuss-ctime span{float: right;}
.discuss-content p{font-size:13px;line-height: 15pt;text-indent: 2em;color: #909090;}
.discuss-content a{color:#774ea7;font-weight: bold;font-size: 14px}

.right-discuss-box{margin: 20px auto 0 auto;}
.right-discuss-box ul{width: 90%;margin:0 auto;}
.right-discuss-box ul li{line-height: 40px}
.right-discuss-box ul li input{ 
    padding: 0 3px;
    width: 100px;
    height:20px;
}
.discuss-area{width:100%;height:130px;overflow-y:scroll;resize: none;margin:0 auto;}
.discuss-sub{width:70px;margin:5px auto 0 80%;}
.discuss-sub .sub-it{width:70px;height:25px;}
.img-vertify{height: 20px;position: relative;top:5px;}

/*文章列表页*/
.article-list-box {width: 96%;margin:25px auto;}
.article-list{position:relative;height:30px;border-bottom: 1px dashed #ddd}
.article-list .right-title{font-size: 16px;font-weight: bold;}
.article-list label{margin-left: 30px}
.article-list-box .article-time{position:absolute;right:100px;font-size:13px;margin:5px 20px ;display: block;height:20px;float:left;}
.turn-it{
    float:right;
    width:65px;
    height:30px;
    margin:0 10px;
    cursor: pointer;
}
.turn-it em{
    display:block;
    float:left;
    width:20px;
    height:20px;
    background: url("../images/tags.png") no-repeat -387px -48px;
    margin:5px;
}
.turn-it span{float:left;display: block;margin:0;font-size: 13px;width:30px;line-height: 30px}

/*编辑文章页*/
.right-edit-content{
    height: 100%;
    margin: 20px auto;
    width: 96%;
}
.edit-submit{width:85px;margin:30px auto 0 auto;}
.edit-sub-btn{
    background:#9fc1d5;
    border:medium none;
    cursor: pointer;
    font-size: 20px;
    color:#fff;
    overflow: hidden;
    text-align: center;
    top: 3px;
    width:85px;
    height:35px;
    border-radius:7px;

}
.right-edit-content select{
    border: 1px solid #ddd;
    vertical-align: middle;
    height:26px;
    line-height: 21px;
    border-radius:4px;
    padding:0 5px;
    margin:0 auto 20px auto;
}
.pagebox{clear:both;height:100px;line-height: 150px}
.pagebox .rows{font-size: 15px;width:30%;right:0px;float:right}

.pagebox *{font-size: 15px}
/*blog首页*/
.index-title-box *{color:#fff;}
.index-title-box{position: absolute;top:70px;left:200px;width:450px;overflow:hidden ;}
.index-logo{width:150px;height:100px;border-radius:15px;box-shadow: #eee 0px 0px 30px inset;background: url('../images/logo150x100.png') no-repeat 0px -3px;}
.index-head{width:100%;height:300px;background:url('../images/newbg.jpg') no-repeat 0px 0px;}
.index-bg{background:#fff;}
.index-main{min-height:300px;background: #fff;border-radius: 6px;}
.class-list-top{position:relative;width:100%;padding-top:20px;height:100px;}
.class-list-box{position: absolute;width:100%;}
.class-list-top li{float:left;margin-left: 30px}
.class-list-block{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    background:#56007c;
    border:3px solid #fff;
    width: 50px;
    height:50px;
    border-radius: 30px;
    color:#fff;
}
.select-it{
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    line-height: 80px;
    background:#3399ff;
    border:3px solid #fff;
    width: 80px;
    height:80px;
    border-radius: 43px;
}
.index-article-list{
    width:400px;
    padding-left: 40px;
    position: relative;
    vertical-align: top;
    border-bottom:2px solid #ddd;
    float: left;
    margin:10px 15px;
}
.index-article-list:hover{
    border-bottom:2px solid orange;
    background: #f9f9f9;
}
.class-list-block:hover{
     background:#0eabb0;
         border:3px solid orange;
}
.index-head-pic{
    width: 50px;
    height:50px;
    border-radius: 43px;
    border:1px solid #ddd;
    left: 10px;
    position: absolute;
    top: 5px;

}
.index-author{
    line-height: 20px;
    padding-top: 18px;
    padding-left: 40px;
}
.index-article-title{
    font-size: 14px;
    line-height: 24px;
    margin-top: 6px;
}
.index-article-title a{
    font-size: 20px;
    color:#050505;
}
.index-article-time{
    font-size: 13px;
    padding:5px 0;

}
.index-article-time span{
    margin-left:10px;
}
/*登陆框和覆盖层*/
.overburden{display:none;background-color: black; left: 0px; top: 0px; z-index: 100; position: fixed; width:100%; height: 100%; opacity: 0.4;}
.login-window{
    display:none;
    position: fixed;
    border:1px solid #c3c3c3;
    width:400px;
    height:200px;
    background:#fff;
    z-index:150;
    margin:auto;
    left:0; 
    right:0; 
    top:0;
    bottom:0;
}
.login-box{margin:20px auto;width:80%;line-height:35px;}
.boxA{position: relative;}
.boxA a{font-size: 12px;}
.fm1,.fm2{height:20px;border: 1px solid #ccc;padding:0px 5px;}
.fm2{width:150px;}
.boxB {width:60px;margin:10px auto;}
.boxB #button{ 
    background:#56007c;
    border:medium none;
    cursor: pointer;
    color:#fff;
    overflow: hidden;
    text-align: center;
    top: 3px;
    width:60px;
    height:25px;
    border-radius:4px;
}
.global_close{font-size: 20px;width:16px;height:16px;text-align: center;line-height: 16px;cursor: pointer;background: url("../images/quxiao.png");}
.global_log_btn{cursor: pointer;}
/*页尾*/
.foot *{font-size: 13px;color:#fff;}
.foot{clear:both;padding-top:50px;}
.foot-content{width:100%;margin:0 auto;background:#5e5e5e;text-align: center;}
.foot-content span{font-size:12px}


/*修改基本资料页面*/
.register-box{
    margin:0 auto;
}
label{
    float: left;
    font-size: 14px;
    line-height: 30px;
    text-align: right;
    width: 90px;
}
label i{
    color: #f00;
    padding-right: 4px;
}
.register-box ul{width:80%;margin:10px auto;padding:50px;}
.register-box ul li{width:100%;line-height: 25pt;position:relative;margin:15px auto;}
.re-input{margin-left: 100px;width:230px;height:30px;}
.re-clear{border:none;}
.re-input-bor{border:1px solid #ccc;height: 26px;width:200px;  border-radius: 4px;padding:0 5px; }
.re-verify-input{width:110px;}
.re-sub-btn{
    background:#57e2a8;
    border:medium none;
    cursor: pointer;
    font-size: 20px;
    color:#fff;
    overflow: hidden;
    text-align: center;
    top: 3px;
    width:200px;
    height:35px;
    border-radius:7px;

}
.register-box ul li span{ 
    font-size: 13px;
    left: 375px;
    padding-left: 20px;
    position: absolute;
    top: 0px;
    width: 210px;
    height:80%;
    vertical-align: middle;
}
.re-input select{
    border: 1px solid #ddd;
    vertical-align: middle;
    height:26px;
    line-height: 21px;
    border-radius:4px;
    padding:0 5px;
}
/*.re-sp select{margin:5px auto 0 auto;}*/
.re-vertify-img{position: absolute;top:1px;left:240px;height: 26px;}
.re-submit{width:200px;margin:30px auto 0 auto;}