body{ margin:0;padding:0;color: #5e5e5e;}
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, label, dl, dt, dd, fieldset, img {
    border: 0 none;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
*{margin:0;padding:0}
ul{list-style: none;}
.bg{background:#100a0c url("../images/sinablogb.jpg") no-repeat center top;min-height:600px;width:100%;margin-top: 30px;}
.box{width:950px;height:100%;margin:0 auto;}
a{text-decoration:none;color:#5e5e5e;}
p{line-height: 20pt}
#back{margin-top:-30px;}
/*导航条*/
.head-top{height:30px;width:100%;background-color: #f1f1f1;position: fixed;z-index: 99;top:0;}
.top-content{width:950px;margin:0 auto;font-size: 15px;}
.top-content .logo{float:left;width:100px;height:30px;background:url("../images/logo.gif") no-repeat;}
.top-content .perinfo{width:200px;float:right;}
.top-content .perinfo li{float:left;line-height: 30px;position:relative;text-align: center;padding:0 5px;}
.top-content .perinfo li ul{position:absolute;background-color:#ddd;left:0; top:30;display:none;}
.top-content .perinfo li ul li{float:none;line-height:30px;margin:0;min-width:90px;}
.top-content .perinfo li ul li:hover{background-color:#f1f1f1; }
.top-content .perinfo li:hover{background-color:#ddd;}
.top-content .perinfo li:hover span{color: blue;}
.top-content .perinfo li:hover ul{display: block;}

.search{  
    background: none #fff;
    border: 1px solid #c3c3c3;
    float: left;
    height: 18px;
    overflow: hidden;
    position: relative;
    width: 180px;
    top:5px;
}
.search .input-text{
	border-width: 0;
    height: 16px;
    line-height: 30px;
    padding: 0 3px;
    width: 155px;
}
.search .input-sub{    
	background: url("../images/ntopbar.png") no-repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    height: 12px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 3px;
    right:5px;
    width:12px;
}
.back-top{
    position:fixed;
    width:44px;
    height:43px;
    display:block;
    z-index: 99;
    right:140px;
    bottom: 100px;
    background:url("../images/tips.png") no-repeat 0 -53px;
}
.back-top:hover {background:url("../images/tips.png") no-repeat -44px -53px}
.bottom-height{height:15px;}
/*页头*/
.head{height:270px;position: relative;}
.title-box *{color:#fff;}
.title-box{position: absolute;top:70px;left:65px;width:450px;overflow:hidden ;}
.user-say{margin-top:20px;height:38px;overflow:hidden ;}
.user-say .say-title{font-weight: bold;}
.user-say .say-content{font-size:14px;line-height: 15pt;}
.user-line{background: url("../images/blognavbg.png") no-repeat;height: 1px;width: 100%;margin:10px 0;}
.user-do *{color:#000;}
.user-do{
    position: absolute;
    bottom:5px;
    right:0px;
    height: 30px;
}
.user-do-list{
    float:left;
    font-weight: bold;
    margin-left:  7px;
    line-height: 30px;
    text-align: center;
    padding:0 10px;
    background: url("../images/ntopbar.png") no-repeat 0 -85px;
}
.user-do-list a{color:#fff;}

/*主体*/
.main{min-height:800px;}
/*左模块*/

.left *{font-size: 12px;}
.left{width:210px;min-height:200px;float:left;margin:10px 0px;}
.left-list{width:100%;min-height: 100px;margin:0 0 10px 0;background-color: #fff;}
.left-per-title{height:15px;font-size: 12px;padding:5px;background-color:#f1f1f1; border-bottom: 1px solid #c3c3c3;}
.left-per-title .per-title{float:left;font-size: 13px;font-weight:bold;color:#3e3e3e;}
.left-per-title .edit{float:right;}
.left-per-pic{width:180px;height: 180px;margin:0 auto;border:1px solid #c3c3c3;margin-top: 15px;}
.left-per-name{width:120px;height:23px;text-align: center;margin:10px auto;}
.left-per-name span{font-size: 17px;font-weight:bold;}
.left-per-focus{width:120px;height:23px;padding:10px;margin:0 auto;}
.left-per-focus .btn-style{
    background:url("../images/ntopbar.png") no-repeat 0 -90px;
    border:1px solid #f0f0f0;
    width:45px;
    text-align: center;
    font-size: 17px;
    color:#fff;
    padding:3px;
    cursor: pointer;
}
.per-btn1{float:left;}
.per-btn2{float:right;}
.left-per-info{width:180px;margin:0 auto;border:1px solid #c3c3c3;}
.left-per-info ul{margin:0 10px;}
.info-style{padding:5px;}
.left-per-info span{letter-spacing:2pt;}

.left-class-list{width:180px;margin:0 auto;border:1px solid #c3c3c3;margin-top: 15px;}
.left-class-list ul{margin:0 10px;}
.left-per-search{width:180px;margin:0 auto;margin-top: 15px;}
/*右模块*/

/*文章详情页*/
.right{width:730px;min-height:300px;background-color: #fff;float:left;margin:10px 0px 10px 10px;}
.right-content{width:96%;height:100%;margin:0 auto;}
.right-title-box{height:55px;}
.right-title{float:left;margin:5px;}
.right-title-box span{float:left;font-size:13px;margin: 10px;display: block;width:100px;}
.right-article{border-bottom: 1px dashed #ddd;}
.turn-it{
    float:right;
    width:65px;
    height:30px;
    margin:5px 10px;
    cursor: pointer;
}
.turn-it em{
    display:block;
    float:left;
    width:20px;
    height:20px;
    background: url("../images/tags.png") no-repeat -387px -48px;
    margin:5px;
}
.turn-it span{float:left;display: block;margin:0;font-size: 13px;width:30px;line-height: 30px}

.right-article-bar{width:96%;height:25px; background-color:#eee;margin:50px auto 10px auto;line-height:25px;border-bottom: 1px solid #c3c3c3;}
.article-discuss-left{font-weight:bold;margin-left:30px;float:left;}
.article-discuss-right{margin-right:30px;float:right;cursor:pointer;}

.discuss-content{padding:10px;width:95%;margin:0 auto;}
.discuss-content ul li{border-bottom:1px dashed #ccc;padding:10px 0;}
.discuss-content ul li *{margin: 10px 0;}
.discuss-ctime{height:20px;}
.discuss-ctime span{float: right;}
.discuss-content p{font-size:13px;line-height: 15pt;text-indent: 2em;color: #909090;}
.discuss-content a{color:#774ea7;font-weight: bold;font-size: 14px}

.right-discuss-box{margin: 20px auto 0 auto;}
.right-discuss-box ul{width: 90%;margin:0 auto;}
.right-discuss-box ul li{line-height: 40px}
.right-discuss-box ul li input{ 
    padding: 0 3px;
    width: 100px;
    height:20px;
}
.discuss-area{width:100%;height:130px;overflow-y:scroll;resize: none;margin:0 auto;}
.discuss-sub{width:70px;margin:5px auto 0 80%;}
.discuss-sub .sub-it{width:70px;height:25px;}
.img-vertify{height: 20px;position: relative;top:5px;}

/*文章列表页*/
.article-list-box {width: 96%;margin:25px auto;}
.article-list{position:relative;height:30px;}
.article-list .right-title{font-size: 16px;font-weight: bold;}
.article-list label{margin-left: 30px}
.article-list-box .article-time{position:absolute;right:100px;font-size:13px;margin:5px 20px ;display: block;height:20px;float:left;}
.turn-it{
    float:right;
    width:65px;
    height:30px;
    margin:0 10px;
    cursor: pointer;
}
.turn-it em{
    display:block;
    float:left;
    width:20px;
    height:20px;
    background: url("../images/tags.png") no-repeat -387px -48px;
    margin:5px;
}
.turn-it span{float:left;display: block;margin:0;font-size: 13px;width:30px;line-height: 30px}

/*登陆框和覆盖层*/
.overburden{display:none;background-color: black; left: 0px; top: 0px; z-index: 100; position: fixed; width:100%; height: 100%; opacity: 0.4;}
.login-window{
    display:none;
    position: fixed;
    border:1px solid #c3c3c3;
    width:400px;
    height:200px;
    background:#fff;
    z-index:150;
    margin:auto;
    left:0; 
    right:0; 
    top:0;
    bottom:0;
}
.login-box{margin:40px auto;width:70%;line-height:35px}
.boxB input{float:right;width:60px;}
.boxA a{font-size: 12px;}
/*页尾*/
.foot *{font-size: 13px;color:#fff;}
.foot{clear:both;padding-top:50px;}
.foot-content{width:320px;margin:0 auto;}
.foot-content span{font-size:12px}