body{ margin:0;padding:0;color: #5e5e5e;}
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, label, dl, dt, dd, fieldset, img {
    border: 0 none;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei UI","Microsoft YaHei","微软雅黑","MicrosoftJhengHei","华文细黑",STHeiti,MingLiu,serif;
}
*{margin:0;padding:0}
ul{list-style: none;}
.bg{background:#100a0c url("../images/sinablogb.jpg") no-repeat center top;min-height:600px;width:100%;margin-top: 30px;}
.box{width:950px;height:100%;margin:0 auto;}
a{text-decoration:none;color:#5e5e5e;}
p{line-height: 20pt}
#back{margin-top:-30px;}
/*导航条*/
.head-top{height:30px;width:100%;background-color: #f1f1f1;position: fixed;z-index: 1000;top:0;}
.top-content{width:950px;margin:0 auto;font-size: 15px;}
.top-content .logo{float:left;width:100px;height:30px;background:url("../images/logo.gif") no-repeat;}
.top-content .perinfo{width:200px;float:right;}
.top-content .perinfo li{float:left;line-height: 30px;position:relative;text-align: center;padding:0 5px;}
.top-content .perinfo li ul{position:absolute;background-color:#ddd;left:0; top:30px;display:none;}
.top-content .perinfo li ul li{float:none;line-height:30px;margin:0;min-width:90px;}
.top-content .perinfo li ul li:hover{background-color:#f1f1f1; }
.top-content .perinfo li:hover{background-color:#ddd;}
.top-content .perinfo li:hover span{color: blue;}
.top-content .perinfo li:hover ul{display: block;}

.search{  
    background: none #fff;
    border: 1px solid #c3c3c3;
    float: left;
    height: 18px;
    overflow: hidden;
    position: relative;
    width: 180px;
    top:5px;
}
.search .input-text{
    border-width: 0;
    height: 16px;
    line-height: 30px;
    padding: 0 3px;
    width: 155px;
}
.search .input-sub{    
    background: url("../images/ntopbar.png") no-repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    height: 12px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 3px;
    right:5px;
    width:12px;
}
.back-top{
    position:fixed;
    width:44px;
    height:43px;
    display:block;
    z-index: 99;
    right:140px;
    bottom: 100px;
    background:url("../images/tips.png") no-repeat 0 -53px;
}
.back-top:hover {background:url("../images/tips.png") no-repeat -44px -53px;}
.bottom-height{height:15px;}
/*登陆框和覆盖层*/
.overburden{display:none;background-color: black; left: 0px; top: 0px; z-index: 100; position: fixed; width:100%; height: 100%; opacity: 0.4;}
.login-window{
    display:none;
    position: fixed;
    border:1px solid #c3c3c3;
    width:400px;
    height:200px;
    background:#fff;
    z-index:150;
    margin:auto;
    left:0; 
    right:0; 
    top:0;
    bottom:0;
}
.login-box{margin:20px auto;width:80%;line-height:35px;}
.boxA{position: relative;}
.boxA a{font-size: 12px;}
.fm1,.fm2{height:20px;border: 1px solid #ccc}
.fm2{width:150px;}
.boxB {width:60px;margin:10px auto;}
.boxB #button{ 
    background:#56007c;
    border:medium none;
    cursor: pointer;
    color:#fff;
    overflow: hidden;
    text-align: center;
    top: 3px;
    width:60px;
    height:25px;
    border-radius:4px;
}
.global_close{font-size: 20px;width:16px;height:16px;text-align: center;line-height: 16px;cursor: pointer;background: url("../images/quxiao.png");}
.global_log_btn{cursor: pointer;}
#error-message{
    font-size: 15px;
    min-width:100px;
    height:25px;
    border:1px solid orange;
    border-radius:4px;
    position:absolute;
    z-index:1;
    top: 16px;
    left:135px;
    background-color:#fff;
    box-shadow:red 0px 0px 2px;
    display:none;
    text-align: center;
    line-height: 25px;
    color:red;
}
/*页尾*/
.foot *{font-size: 13px;color:#fff;}
.foot{clear:both;padding-top:50px;}
.foot-content{width:100%;margin:0 auto;background:#5e5e5e;text-align: center;}
.foot-content span{font-size:12px}

/*注册页*/
.bg{background:none;background-color:#c4d2f9;padding-top:80px;}
.register-box{
    min-height:300px;
    width:750px;
    margin:0 auto 20px auto;
    background-color:#f9f9f9;
    border-radius:7px 7px 7px 7px;
    box-shadow: #666 0px 0px 10px;
}
label{
    float: left;
    font-size: 14px;
    line-height: 30px;
    text-align: right;
    width: 90px;
}
label i{
    color: #f00;
    padding-right: 4px;
}
.register-box ul{width:80%;margin:10px auto;padding:50px;}
.register-box ul li{width:100%;line-height: 25pt;position:relative;margin:15px auto;}
.re-input{margin-left: 100px;width:230px;height:30px;}
.re-clear{border:none;}
.re-input-bor{border:1px solid #ccc;height: 26px;width:200px;  border-radius: 4px;padding:0 5px; }
.re-verify-input{width:110px;}
.re-sub-btn{
    background:#57e2a8;
    border:medium none;
    cursor: pointer;
    font-size: 20px;
    color:#fff;
    overflow: hidden;
    text-align: center;
    top: 3px;
    width:200px;
    height:35px;
    border-radius:7px;

}
.register-box ul li span{ 
    font-size: 13px;
    left: 375px;
    padding-left: 20px;
    position: absolute;
    top: 0px;
    width: 210px;
    height:80%;
    vertical-align: middle;
}
.re-input select{
    border: 1px solid #ddd;
    vertical-align: middle;
    height:26px;
    line-height: 21px;
    border-radius:4px;
    padding:0 5px;
}
/*.re-sp select{margin:5px auto 0 auto;}*/
.re-vertify-img{position: absolute;top:1px;left:240px;height: 26px;}
.re-submit{width:200px;margin:30px auto 0 auto;}
/*.foot *{font-size: 13px;color:#555;}*/
.left-per-title{height:15px;font-size: 12px;padding:5px;background-color:#f1f1f1; border-bottom: 1px solid #c3c3c3;}
.left-per-title .per-title{float:left;font-size: 13px;font-weight:bold;color:#3e3e3e;}
.left-per-title .edit{float:right;}
